.input{
    padding-top: 20.5px;
    padding-left:28px;
    padding-bottom:20.5px;
    padding-right:28px;
    border: 3px var(--primary-color) solid;
    width: 328px;
    background-color:var(--text-color);
    border-radius: var(--border-radius);
}