.modalcontent {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
    color: black;
    background-color: #fefefe;
    margin: auto;
    padding: 20px;
    border: 1px solid #888;
    width: 34%;
    height: 22%;
    position: absolute;
    top: 10%;
    border: 2px solid #BA1616;
}

.btns>button {
    padding: 10px 10px!important;
    margin: 0 4px;
}

.btnDelete {
    border: 2.5px solid #000;
    background-color: #BA1616;
    color: #fff;
}

.btnCancel {
    background-color: #fff;
}