.imgprevContainner {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    width: 100vw;
    height: calc(100vh - 50px);
}

.loadImagePage {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    font-family: 'Open Sans';
    font-style: normal;
    font-weight: 400;
    font-size: 24px;
    line-height: 36px;
    gap: 20px;
}

.loadImagePage button {
    width: 180px !important;
    height: 50px;
}

.ImagePreview {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    width: 974px;
    position: relative;
    top: 10px;
    font-family: 'Open Sans';
    font-style: normal;
    font-weight: 400;
    font-size: 16px;
    line-height: 14px;
}

.controls {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    position: relative;
}

.controls button {
    margin-top: 20px;

}

.controls input {
    width: 100%;
}

.ChangeFrame {
    width: 736.6px;

}

.RangeSlider {
    width: 736.6px;
    height: 3px;
    padding: 50px 0px;
}

.images {
    width: 1113px;
    height: 672px;
}

.ImagePreview img {
    max-height: 500px;
    aspect-ratio: 4/3;
    object-fit: contain;

}