.img_container {
    display: flex;
    flex-direction: column;
    height: 260px;
    width: 200px;
    padding: 10px;
    background-color: #2C2C2C;
    /* justify-content: center;
    align-items: center; */

}

.img {
    height: 150px;
    width: 100%;
    background-color: #00000033;
    border-radius: 1.1425355672836304px;
    margin: 5px 0 5px 0;

}

.icon  {
    height: 16px;
    width: 16px;
    border-radius: 0px;
    color:gray;

}
.icon:hover  {
    color:white;
    transition: 0.2s;
}
.icon:active  {
    color:#56C493;

}

.downloadAndDelete {
    display: flex;
    justify-content: flex-end;
    height: 38px;
    width: 100%;
    top: 1px;
    border-radius: 0px;


}

.deleteIcon{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin-left: 5px;
}


.deleteIcon>span {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}
.downloadIcon {
    margin-left: 4px;
}

.downloadIcon >span{
    display: flex;
    flex-direction: column;
    justify-content: center;
    /* padding-top: 2px; */
    /* padding-bottom: 2px; */
    align-items: center;

}

span {
    font-family: Inter;
    font-size: 6px;
    font-weight: 100;
    line-height: 12px;
    letter-spacing: 0em;
    text-align: center;


}

.imgName {
    display: flex;
    justify-content: flex-start;
    font-size: small;
    width: 100%;
}

.bottom {
    display: flex;
    align-items: center;
    justify-content: space-between;
    font-size: smaller;
    width: 100%;
    padding-right: 20%;
}

.bottom>span {
    display: flex;
    align-items: center;
}