    .main {
        width: 100%;
        display: grid;
        grid-template-columns: 360px 1fr 360px;
        grid-template-rows: 100vh;
        /* padding: 10px; */
    }
    
    .leftBar {
        height: calc(100vh - 50px);
        margin-right: 5px;
    }
    
    .mainBar {
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: flex-start;
        width: 100%;
        height: calc(100vh - 50px);
        padding: 0 10px;
    }
    
    .rightBar {
        display: flex;
        flex-direction: column;
        justify-content: space-between;
        width: 100%;
        height: calc(100vh - 50px);
        padding: 10px 2px;
    }