.Display_settings {
  justify-content: center;
  display: flex;
  align-items: center;
  flex-direction: column;
  height: 100%;
}

.collapseBG {
  margin-bottom: 10px;
}

h1 {
  font-size: 18;
  font-weight: 700;
  padding: 12px 12px 12px 0px;
}

.isClicked {
  background-color: var(--bg-color);
  border-top-left-radius: var(--border-radius);
  border-top-right-radius: var(--border-radius);
}

.dudu {
  background-color: var(--input-color);
  padding: 17px 4.3%;
}

.blackBG {
  background-color: var(--bg-color);
  border-top-left-radius: 5px;
  border-top-right-radius: 5px;
}
