.historyPageContainer{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    width:100vw;
    height: 600px;
    overflow-y: scroll;
    overflow-x: none;
}
.historyPageHeader{
    display: flex;
    justify-content: center;
}
.HistoryPageSort {
    display:flex;
    flex-direction: row;
    align-self: flex-start;
    padding-left: 4vw;
}

.historySearch, .historySort {
    background-color: var(--bg-secondary-color);
    color: aliceblue;
    border-radius: 4px;
    margin-left: 10px;
    padding: 3px;
    border: none;
}
.historySearch {
    width: 300px;
}
.historyPageSearch{
    position: relative;
}

.historyPageContainer > label {
    display: inline-block;
    color: #fff;
} 

.historySort{
width: 215px;
align-self: flex-start;
}


.images{
    padding-top: 20px;
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    gap: 14px;
    height: 80vh;
    width: 80vw;
}
.images > img {

  object-fit: cover;
}