.displayContainer{
    display: flex;
    flex-direction: column;
    align-items: right;
    width: 100%;
    height: 100%;
    padding:0;
    margin:0;
}

.imageContainer{
background-color: #1e1e1e;
width:  100%;
margin-top: 24px;
}

.controlPanel{
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-around;
    
}



