.main {
    margin: 0;
    padding: 0;
    display: flex;
    position: relative;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 95%;
    height: 95%;
    background-color: #1e1e1e;
}

.mainBar {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 100%;
    height: 66%;
}

.mainBar>img {
    width: 100%;
    height: 100%;
    border-radius: 0;
    border: 1px solid #ffffff;
    object-fit: cover;
}

.controlBar {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: start;
    width: 100%;
    height: 33%;
    padding-top: 30px;
    border: solid 1px #ffff;
}

.CarouselSlider {
    display: flex;
    flex-direction: column;
    align-items: baseline;
    justify-content: end;
    width: 100%;
    height: 10%;
    padding-top: 30px;
    padding-right: 5px;
    border: solid 1px #ffff;
    justify-content: flex-end;
    align-items: center;
    padding: 0;
}

.editRange {
    /* border: 3px solid #red; */
    width: 100%;
    padding-bottom: 20px;
    display: flex;
    justify-content: end;
}

.editRange input {
    width: 100%;
}

.ChangeFrame {
    display: flex;
    flex-direction: row;
    align-items: flex-end;
    justify-content: right;
    width: 100%;
    padding-right: 0;

}

.ChangeFrame input {
    width: 265px;
}

.crop {
    background-color: yellow;
    width: 30%;
}