@import url(link rel="preconnect" href="https://fonts.googleapis.com"><link rel="preconnect" href="https://fonts.gstatic.com" crossorigin><link href="https://fonts.googleapis.com/css2?family=Roboto:wght@100&display=swap" rel="stylesheet")

*{
    box-sizing: border-box;
    margin: 0;
    padding: 0;

}

.headerContainer{
height: 48px;
/* width: 1920px; */
left: 0px;
top: 0px;
border-radius: 0px;
display: flex;
align-items: center;
flex-direction: row;
background-color: black;
justify-content: left;
}

.logo{
    /* box-sizing: border-box; */
    display: flex;
    justify-content: center;
    height: 48px;
    width: 383px;
    align-items: center;
}

.navContainer{
    box-sizing: border-box;
    display: flex;
   flex-direction:row;
    height: 48px;
/* width: 104px; */

border-radius: px;

}

.navItem{
box-sizing: border-box;
position: center;
width: 180px;
/* height: 48px; */
background-color: black;
margin:  0 24px 0 0;
border-bottom: 4px solid #B6B6B6;
font-family: 'Open Sans';
font-style: normal;
font-weight: 700;
font-size: 18px;
line-height: 26px;
color: #B6B6B6;
/* identical to box height, or 144% */
display: flex;
justify-content: center;
align-items: center;
text-align: center;
text-decoration: none;

}

.userBar{
    display:flex;
    flex-direction: row;
    justify-content: right;
    font-weight: lighter;
  align-items: center;
    font-family: 'Open Sans';
font-style: normal;
align-content: right;
font-size: 18px;
line-height: 26px;
width: 949px;
height: 48px;
text-decoration: none;
color: #B6B6B6;
}

.userIcon{
    width: 16px;
    height: 21px;
   
}
.userName{
    text-decoration: none;
    color: #B6B6B6;
}