.checkbox {
    width: 20px;
    height: 20px;
    position: relative;

    border: 2px solid var(--primary-color);
    border-radius: 4px;
}

.checkbox:hover {
    cursor: pointer;
}

.checkbox {
    appearance: none;
}

.checkbox:checked::before {

    position:absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    content: "✔";
    
    display: flex;
    justify-content: center;
    align-items: center;
    transform: scale(1.1);

    color: var(--text-color);
    background-color: var(--primary-color);
    visibility: visible;
}

.checkbox::before {

    visibility: hidden;

} 






  
 