.sideBar {
  position: relative;
}

.loadBtn {
  margin-left: -20px;
  display: flex;
}
/* liat-sidebar */
#form {
  width: 360px;
  height: 90vh;
  padding-left: 0px;
  border: 2px;
  border-color: brown;
}

.btnToggle {
  width: 35px;
  height: 60px;
  border-radius: 3px;
  padding-top: 17px;
  padding-bottom: 17px;
  background-color: var(--bg-secondary-color);
  color: var(--primary-color);
  position: absolute;
  top: 20px;
  right: -35px;
}

.all {
  background-color: var(--input-color);
}

.btn {
  margin-left: 10px;
  margin-bottom: 10px;
  margin-right: 10px;
}
.collapse {
  padding-left: 5px;
  padding-right: 5px;
}

.blackBack {
  border-radius: 5px;
  background-color: var(--bg-color);
  font-size: 6px;
}
.D {
  margin-top: 5px;
  padding-inline-end: 10px;
}
.D div {
  padding: 5px;
  
  padding-left: 5px;
}
