.sideBar {
  position: relative;
  /* background-color: var(--bg-secondary-color); */
  /* background-color: red; */
}

.loadBtn {
  margin: 50px;
}

/* liat-sidebar */
.form {
  width: 360px;
  height: 100%;
 padding: 5px;
  border: 2px;

  background: #2c2c2c;
  display: flex;
  justify-content: space-between;
  align-items: center;
  flex-direction: column;


}
.slideBar{
position: absolute;
  z-index:2;
}

.titel_colaps_top_down{

font-size: 25px;
font-weight: 800;
}

.labal_colaps_top_down{

  padding: 10px;
  margin: 10px;

}

.subtitle{
font-size: 18px;
font-weight: 100;

}


.category{
background-color: antiquewhite;
padding: 10px;
margin: 10px;

}

.run_isp{
  /* background-color: var(--primary-color);
  color: var(--text-color);
  padding: 8px 16px;
 width: 328px;
height: 40px;
font-weight:700;
border-radius: 4px;
border: 0ch;
cursor: pointer;
; */
}
.btnToggle {
  width: 35px;
  height: 60px;
  border-radius: 3px;
  padding-top: 17px;
  padding-bottom: 17px;
  background-color: var(--bg-secondary-color);
  color: var(--primary-color);
  position: absolute;
  top: 20px;
  right: -35px;
}

.all {
  background-color: var(--input-color);
}

.btn {
  margin-left: 15px;
  margin-bottom: 45px;
}
.run_isp:hover{


background-color:#47b584;
}
