.container {
    width:  100%;
    margin: 0 auto;
    display: flex;
    justify-content: center;
}

.containerSmall {
    width:  100%;
    padding: 4px;
}

.slider {
    webkit-appearance: none;
    width: 70%;
    outline: none;
    border-radius: 3px;
    height: 4px;
    margin-top: 9px;
    background-color: white;
    display: inline;
}

.slider::-webkit-slider-thumb {
    -webkit-appearance: none;
    background: white;
    width: 18px;
    height: 18px;
    border-radius: 50%;
    border: 2px solid var(--primary-color);
    cursor: pointer;
    margin-top: -6px;
}
  
.slider::-webkit-slider-runnable-track {
    webkit-appearance: none;
    background-color: white;
    height: 4px;
    border-radius: 2px;
    background-color: var(--primary-color);
}

.slider::-ms-fill-lower {
    background-color: var(--primary-color);
}

.container .descrption {
    margin-right: 1%;
    color: var(--text-secondary-color);
}

.container .numberInput {
    margin-top: 3px;
    margin-left: 1.5%;
    width: 4%;
    background-color: var(--input-color);
    color: var(--text-color);
    border-radius: 2px;
    border: 0;
    text-align: center;
}

.numberInput::-webkit-inner-spin-button {
    -webkit-appearance: none;
}

.containerSmall .descrption {
    width: 100%;
    color: var(--text-color);
    display: block;
}

.containerSmall .numberInput {
    margin-top: 3px;
    margin-left: 1.5%;
    max-width: 15%;
    display: inline;
    background-color: var(--bg-color);
    color: var(--text-secondary-color);
    border-radius: 2px;
    border: 0;
    text-align: center;
    border: 1px solid var(--text-secondary-color);

}