.allFrame {
  display: flex;
  width: 100%;
  /* width: 736.6px; */
  justify-content: space-evenly;
  align-items: left;
  padding: 0;
  margin-bottom: 24px;
}

.frame {
  max-width: 260px;
  /* width: 45%; */
}

.frame > input[type="number"] {
  width: 65px;
  height: 26px;
  /* width: 30px;
    height: 20px; */
}

.frame > text {
  width: 100px;
}
