.headerContainer {
  margin-top: 5px;
  padding: 5px;
  font-size: 30px;
  border-bottom: 1px solid rgba(128, 128, 128, 0.29);
  border-top: 1px solid rgba(128, 128, 128, 0.294);
  display: flex;
  flex-direction: row;
  align-items: center;
}

.logo {
  width: 383px;
  display: flex;
  box-sizing: border-box;
  justify-content: center;
  padding: 2px;
}

.logo > div {
  margin-left: 5px;
  display: flex;
  box-sizing: border-box;
  justify-content: center;
  padding: 2px;
}
