.CollepseTopDown {

  background: #383838;
  /* width: 352px; */
  max-height: fit-content;
  display: flex;
  flex-direction: column;
  align-items: center;
  /* padding:4px; Dael */
  /* overflow: scroll; */
}

.oneOptions {
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 100%;
  height: 50px;
  padding: 0px 12px;
}

.oneOptions p {
  color: var(--text-color);
  font-family: "Open Sans", sans-serif;
  font-size: var(--font-size-label);
}


.oneOptions {
  color: var(--primary-color);
  font-size: 28px !important;
  transition: all 0.4s;
}

.openPropertis {
  display: flex;
  justify-content: center;
  /* align-items: center; */
  flex-direction: column;
  padding: 12px;
  /* max-height: 300px; */
  width: 100%;
  height: 0px;
  opacity: 0;
  background: #1e1e1e;
  border-radius: 0px 0px 4px 4px;
  padding-left: 12px;
  overflow: hidden;
  transition: all 0.4s;
}

.openPropertis.active {
  height: auto;
  opacity: 1;
}

svg {
  color: #56c493;
}


.title {
  padding: 12px;
  cursor: pointer;
}

.option {
  padding: 12px;
}

.dropTitle {
  color: var(--text-secondary-color);
  padding-left: 10px;
}


/* 
אפשרויות הערות כותרת */

.bold {
  font-weight: 700;
}